<ion-header>
  <ion-toolbar class="tot-header-green">
    <ion-row>
      <ion-col size="6">
        <ion-title *ngIf="mc.data.swOK">{{mc.data.structureDef.title}}</ion-title>
      </ion-col>
      <ion-col>
        <ion-button class="tot-button-clear" size="small" fill="clear" (click)="new()">New</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="tot-button-clear" size="small" fill="clear" (click)="save()">Save</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="tot-button-clear" size="small" fill="clear" (click)="close()">Close</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-list *ngIf="mc.data.swOK">
      <!--=== header ======================================================================-->
      <ion-item class="tot-header">
        <ion-col *ngFor="let fld of mc.data.structureDef.fields"
                 [size]=fld.size
                 [ngClass]="{'tot-hide':fld.hide}">
          {{fld.label}}
        </ion-col>
      </ion-item>
      <!--===============================================================================-->
      <ion-item *ngFor="let val of mc.data.fieldsDef.fields">
        <ion-col *ngFor="let fld of mc.data.structureDef.fields; let i01 = index;"
                 [ngClass]="{'key': i01==0, 'tot-hide':fld.hide}"
                 [size]=fld.size
                 tappable (click)="update(val)">
          {{val[fld.name]}}
        </ion-col>
        <span title="Delete">
      <ion-button class="spacy"
                  size="default"
                  fill="clear"
                  color="danger"
                  tappable (click)="delete(val)">
          <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
                  </span>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>
